# Multi variable comparison
Assessing both wave height and wind speed at the same time

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from fmskill import ModelResult, ModelResultCollection, PointObservation, TrackObservation

In [2]:
%load_ext autoreload
%autoreload 2

## Define observations

In [3]:
# wave height
o1 = PointObservation('../tests/testdata/SW/HKNA_Hm0.dfs0', item=0, x=4.2420, y=52.6887, name="HKNA_Hm0")
o2 = PointObservation("../tests/testdata/SW/eur_Hm0.dfs0", item=0, x=3.2760, y=51.9990, name="EPL_Hm0")
o3 = TrackObservation("../tests/testdata/SW/Alti_c2_Dutch.dfs0", item=3, name="c2_Hm0")

# wind speed
wind1 = PointObservation('../tests/testdata/SW/HKNA_wind.dfs0', item=0, x=4.2420, y=52.6887, name="HKNA_wind")
wind2 = PointObservation('../tests/testdata/SW/F16_wind.dfs0', item=0, x=4.01222, y=54.1167, name="F16_wind")
wind3 = TrackObservation("../tests/testdata/SW/Alti_c2_Dutch.dfs0", item=2, name="c2_wind")

In [4]:
o1.variable_name

'Significant_wave_height'

## Define model results

In [5]:
mr1 = ModelResult('../tests/testdata/SW/HKZN_local_2017_DutchCoast.dfsu', name='SW_1')
mr2 = ModelResult('../tests/testdata/SW/HKZN_local_2017_DutchCoast_v2.dfsu', name='SW_2')

In [6]:
mr1.dfs.items

[Sign. Wave Height <Significant wave height> (meter),
 Max. Wave Height <Maximum wave height> (meter),
 Peak Wave Period <Wave period> (second),
 Wave Period, T01 <Wave period> (second),
 Wave Period, T02 <Wave period> (second),
 Peak Wave Direction <Wave direction> (radian),
 Mean Wave Direction <Mean Wave Direction> (degree),
 Dir. Stand. Deviation <Directional Standard Deviation> (degree),
 x-comp. of wave height vector <u velocity component> (meter per sec),
 y-comp. of wave height vector <v velocity component> (meter per sec),
 Surface elevation <Surface Elevation> (meter),
 Current velocity, U <u velocity component> (meter per sec),
 Current velocity, V <v velocity component> (meter per sec),
 Wind speed <Wind speed> (meter per sec),
 Wind direction <Wind Direction> (degree)]

## Associate model and observations and extract

In [7]:
mr = ModelResultCollection([mr1, mr2])
#mr = mr1

In [8]:
mr.add_observation(o1, item='Sign. Wave Height')
mr.add_observation(o2, item='Sign. Wave Height')
mr.add_observation(o3, item='Sign. Wave Height')
mr.add_observation(wind1, item='Wind speed')
mr.add_observation(wind2, item='Wind speed')
mr.add_observation(wind3, item='Wind speed')
mr.observations

{'HKNA_Hm0': PointObservation: HKNA_Hm0, x=4.242, y=52.6887,
 'EPL_Hm0': PointObservation: EPL_Hm0, x=3.276, y=51.999,
 'c2_Hm0': TrackObservation: c2_Hm0, n=298,
 'HKNA_wind': PointObservation: HKNA_wind, x=4.242, y=52.6887,
 'F16_wind': PointObservation: F16_wind, x=4.01222, y=54.1167,
 'c2_wind': TrackObservation: c2_wind, n=298}

In [9]:
cc = mr.extract()

In [10]:
cc.n_variables

2

## Analysis

In [11]:
cc.skill(variable='Wind_speed')

                     n      bias      rmse     urmse       mae        cc  \
model observation
SW_1  F16_wind      67  2.102049  2.775330  1.812140  2.196785  0.824620
      HKNA_wind    277 -0.880928  1.276179  0.923363  1.023092  0.962845
      c2_wind      113  0.408558  0.637718  0.489657  0.505665  0.960284
SW_2  F16_wind      67  2.102049  2.775330  1.812140  2.196785  0.824620
      HKNA_wind    277 -0.880928  1.276179  0.923363  1.023092  0.962845
      c2_wind      113  0.408558  0.637718  0.489657  0.505665  0.960284

                         si        r2
model observation
SW_1  F16_wind     0.136781  0.956117
      HKNA_wind    0.064528  0.992046
      c2_wind      0.049998  0.995760
SW_2  F16_wind     0.136781  0.956117
      HKNA_wind    0.064528  0.992046
      c2_wind      0.049998  0.995760

In [12]:
df = cc.skill(variable=1)
df

                     n      bias      rmse     urmse       mae        cc  \
model observation
SW_1  F16_wind      67  2.102049  2.775330  1.812140  2.196785  0.824620
      HKNA_wind    277 -0.880928  1.276179  0.923363  1.023092  0.962845
      c2_wind      113  0.408558  0.637718  0.489657  0.505665  0.960284
SW_2  F16_wind      67  2.102049  2.775330  1.812140  2.196785  0.824620
      HKNA_wind    277 -0.880928  1.276179  0.923363  1.023092  0.962845
      c2_wind      113  0.408558  0.637718  0.489657  0.505665  0.960284

                         si        r2
model observation
SW_1  F16_wind     0.136781  0.956117
      HKNA_wind    0.064528  0.992046
      c2_wind      0.049998  0.995760
SW_2  F16_wind     0.136781  0.956117
      HKNA_wind    0.064528  0.992046
      c2_wind      0.049998  0.995760

In [13]:
df.loc[('SW_1','HKNA_wind')].rmse

1.2761789445483072

In [14]:
df.index.names

FrozenList(['model', 'observation'])

## mean_skill

In [15]:
df = cc.mean_skill(variable=0)
df

,n,bias,rmse,urmse,mae,cc,si,r2
model,,,,,,,,
SW_1,564,-0.090604,0.306812,0.282609,0.243406,0.972628,0.093634,0.989479
SW_2,564,-0.009180,0.316503,0.307863,0.255111,0.972628,0.102563,0.988126

In [16]:
df = cc.mean_skill(variable=0)
df
df.loc["SW_1"]['rmse']

0.30681206472504524

In [17]:
df.loc["SW_1"].cc

0.9726280611219673

## score

In [18]:
cc.score()

{'SW_1': 0.9349438989181208, 'SW_2': 0.9397895582539258}